<h1>Equipment</h1>
<p>An overview of all machines</p>
<%= link_to 'add equipment', new_equipment_path  %>
<hr>
<% @equipments.each do |equipment| %>
  <%= equipment.name %>
  <%= link_to 'edit', edit_equipment_path(equipment)  %>
<%= link_to 'Delete', equipment_path(equipment), data: {:confirm => 'Are you sure?'}, method:   :delete %>
<br>
<% end %>
