<nav class="d-flex container my-4  justify-content-between align-items-center">
<div class=flex-grow-1>
<h1><%= link_to root_path do %>Gymatize<% end %></h1>
</div>


<div class="flex-grow-1 text-right">
<%= link_to 'Equipment', equipments_path %>
<%= link_to 'Favorites', favorite_gyms_path %>
</div>

</nav>