<nav class="d-flex container my-4  justify-content-between align-items-center">
<div class=flex-grow-1>
<h1><%= link_to root_path do %>Gymatize<% end %></h1>
</div>


<div class="flex-grow-1 text-right">
<%= link_to 'Favorite Gyms', favorites_gyms_path, class: 'mr-3' %>
<%= link_to 'Equipment', equipments_path %>
</div>

</nav>