<h1>Your Favorite Gyms</h1>

<% if @gyms.empty? %>
  You havn't favorited any gyms yet.
  <% else %>
    <% @gyms.each do |gym| %>
      <%= gym['name'] %><br>
      <%= gym['vicinity'] %>
      <%= link_to 'Details', gym_path(gym), class: 'btn btn-primary' %><br><br>
    <% end %>
<% end %>


